body, html {
    margin: 0px;
    padding: 0px;
}
nav {
    position: relative;
    width: 100%;
    height: 60px;
    background-color: #fff;
    box-shadow: -1px, -7px, 20px, 0px #888;
}
nav ul {
    position: relative;
    margin: 0;
    top: 20px;
    float: right;
    right: 10%;
}
nav ul li {
    float: left;
    display: block;
    margin: 0px 15px 0px 15px;
}
nav ul li a {
    text-decoration: none;
    color: teal;
    font-family: 'halvetica', sans-serif;
    font-size: 17px;
}
nav ul li a:hover {
    color: turquoise;
}
.bg {
    background:linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(gunung2.jpg);
    background-size: 100%;
    height: 750px;
}
@font-face {
    font-family: 'theBlacklist';
    src: url(/font/TheBlacklist/TheBlacklist.ttf);
}
@font-face {
    font-family: 'sofiapro';
    src: url(/font/SOFIAPROSOFTBOLD/SOFIAPROSOFTBOLD.ttf);
}
header {
    color: whitesmoke;
    font-family: 'theBlacklist';
    font-size: 50px;
    text-align: center;
    position: relative; top: 20px;
}
.container {
    display: flex;
    align-content: center;
    position: relative; top: -20px;
}
.profile {
    color: whitesmoke;
    font-family: serif;
    font-size: 40px;
}
img {
    border-radius: 50%;
    position: relative; top: 70px;
}
.nama {
    color: whitesmoke;
    position: relative; top: 40px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 40px;
}
.kerja {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #ffb830;
    letter-spacing: 5px;
    position: relative; top: 20px;
}
.box {
    width: 500px;
    height: 500px;
    border-style: solid;
    border-color: rgba(255, 255, 255, 0.425);
    position: relative; margin-top: 70px;
}
.motto {
    color: whitesmoke;
    position: relative;
    margin-top: 20px;
    font-family: 'sofiapro';
    font-size: 20px;
    padding: 20px;
}
/*.text {
    width: 400px;
    height: 400px;
    position: relative; left: 300px; top: 90px;
}
.profile_isi {
    color: whitesmoke;
    font-family: 'sofiapro';
    font-size: 17px;
    text-align: left;
    position: relative; left: 0px; top: -10px;
    line-height: 30px;
}
.line {
    width: 600px;
    border-style: dashed;
    border-color: #ffb830;
    position: relative; top: -20px;
    border-radius: 10px;
}
.isi_motto {
    color: whitesmoke;
    font-family: 'sofiapro';
    position: relative; top: -20px;
    font-size: 17px;
}*/
.about {
    padding: 100px;
}
.text-about {
    font-size: 20px;
}
.footer {
    color: teal;
    background-color: whitesmoke;
    text-align: center;
    font-size: 15px;
    padding: 10px;
    margin: 0px;
}
