body, html {
    margin: 0px;
    padding: 0px;
}
nav {
    position: relative;
    width: 100%;
    height: 60px;
    background-color: teal;
    box-shadow: -1px, -7px, 20px, 0px #888;
}
nav ul {
    position: relative;
    margin: 0;
    top: 20px;
    float: right;
    right: 5%;
}
nav ul li {
    float: left;
    display: block;
    margin: 0px 15px 0px 15px;
}
nav ul li a {
    text-decoration: none;
    color: whitesmoke;
    font-family: 'halvetica', sans-serif;
    font-size: 17px;
}
nav ul li a:hover {
    color: wheat;
}
.bg {
    background:linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(assets/gunung2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto;
    height: 100%;
}
@font-face {
    font-family: 'theBlacklist';
    src: url(/font/TheBlacklist/TheBlacklist.ttf);
}
@font-face {
    font-family: 'sofiapro';
    src: url(/font/SOFIAPROSOFTBOLD/SOFIAPROSOFTBOLD.ttf);
}
@font-face {
    font-family: 'cookie';
    src: url(font/cookie/Cookie-Regular.ttf);
}

header {
    color: whitesmoke;
    font-family: 'theBlacklist';
    font-size: 50px;
    text-align: center;
    position: relative; top: 20px;
}
.about-a {
    font-size: 20px;
    font-family: 'sofiapro';
    line-height: 40px;
    padding-top: 50px;
}
.about-b {
    font-size: 20px;
    font-family: 'sofiapro';
    line-height: 25px;
    width: 450px;
    text-align: justify;
}
.table {
    text-align: center;
    border-collapse: collapse;
}
.table tr:nth-child(even) {
    background-color: rgb(219, 219, 219);
}
table th {
    border: 2px solid;
    border-color: black;
    color: teal;
    padding: 15px 20px;
    font-size: 20px;
}
table td {
    border: 2px solid;
    border-color: black;
    padding: 15px 20px;
}
.contact {
    width: 600px;
    margin: 0 auto;
}
.contact input[type=text], .contact input[type=email],
 .contact input[type=text], textarea {
    width: 100%;
    margin-bottom: 15px;
    padding: 15px;
    border-color: teal;
    font-size: 17px;
    font-family: 'sofiapro';
}
.contact a {
    padding: 10px 15px;
    background-color: teal;
    display: block;
    color: whitesmoke;
    width: 100%;
    text-align: center;
    font-family: 'sofiapro';
    margin-bottom: 50px;
}
.footer {
    color: whitesmoke;
    text-align: center;
    background-color: teal;
    font-size: 15px;
    padding: 10px;
    margin: 0px;
}
